* {
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  padding: 60px;
  padding-bottom: 60px;
  color: #ffc107;
}
hr {
  height: 1px;
  background-color: #f1cf66;
  border: none;
  width: 565px;
}
ul {
  list-style: none;
  padding-left: 10px;
}
.weather-app-wrapper {
  max-width: 650px;
  margin: 0px auto;
}
.weather-app {
  border: 2px solid #ffc107;
  border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  /* width: 720px;
  height: 376px; */
}
.upper-part {
  padding: 8px;
  margin: 10px 20px;
}
.search-bar {
  font-size: 16px;
  width: 330px;
  height: 40px;
  border-radius: 17px;
  border: 2px solid #ffc107;
}

#city-input {
  color: gray;
  font-style: italic;
  outline-offset: 0;
  outline-color: #ffc107;
  padding-left: 12px;
  font-size: 14px;
}

.btn-warning {
  position: relative;
  left: 10px;
}
.btn-info {
  position: relative;
  left: 15px;
}
.city {
  font-size: 35px;
  margin-top: 12px;
  margin-left: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.day-plus-time {
  margin-top: 8px;
  font-size: 18px;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 500;
}
.other-info {
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  font-style: italic;
  font-weight: 400;
}
.weather-image img {
  position: relative;
  left: 30px;
}
.temp {
  margin-top: 18px;
  font-size: 40px;
  font-weight: 600;
}
.degree-change {
  font-size: 18px;
  position: relative;
  top: -68px;
  left: 47px;
  font-weight: 500;
}
.weather-condition {
  font-size: 26px;
  font-weight: 600;
  position: relative;
  left: -55px;
  text-transform: capitalize;
}

.closing-line {
  margin-top: 10px;
  position: relative;
  right: -40px;
  font-style: italic;
  color: gray;
  font-size: 12px;
}
.degree-change .active {
  color: black;
  cursor: default;
}
.degree-change .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
}
.weather-forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 14px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
.icon {
  display: block;
  margin: 0 auto;
  width: 36px;
  height: 32px;
}
