* {
  font-family: "Poppins", sans-serif;
  color: white;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/672/original/pexels-photomix-company-96622.jpg?1686065668");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  padding: 60px;
  padding-bottom: 60px;
  color: #ffc107;
}
hr {
  height: 1px;
  background-color: #f1cf66;
  border: none;
  width: 565px;
}
ul {
  list-style: none;
  padding-left: 10px;
}
img {
  padding: 5px;
  width: ;
  height: ;
}
.weather-app-wrapper {
  max-width: 650px;
  margin: 0px auto;
}
.weather-app {
  border: 2px solid #ffc107;
  border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}
.upper-part {
  padding: 8px;
  margin: 10px 20px;
  padding-bottom: 15px;
}
.search-bar {
  font-size: 18px;
  width: 330px;
  height: 40px;
  border-radius: 17px;
  border: 2px solid #ffc107;
}

#city-input {
  color: gray;
  font-style: italic;
  outline-offset: 0;
  outline-color: #ffc107;
  padding-left: 12px;
  font-size: 14px;
}

.btn-warning {
  position: relative;
  left: 10px;
}
.btn-info {
  position: relative;
  left: 15px;
}
.city {
  font-size: 35px;
  margin-top: 30px;
  margin-left: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.day-plus-time {
  margin-top: 8px;
  font-size: 17px;
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 500;
}
.weather-condition {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
.other-info {
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;
  font-style: italic;
  font-weight: 400;
}
.weather-image img {
  position: relative;
  left: 30px;
}
.temp {
  margin-top: 45px;
  font-size: 55px;
  font-weight: 600;
}
.degree-change {
  font-size: 18px;
  position: relative;
  top: -78px;
  left: 67px;
  font-weight: 500;
}

.closing-line {
  margin-top: 10px;
  position: relative;
  right: -40px;
  font-style: italic;
  color: white;
  font-size: 12px;
}
.degree-change .active {
  color: white;
  cursor: default;
}
.degree-change .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
  text-align: center;
  color: #000;
}
.weather-forecast-day {
  font-size: 16px;
  opacity: 0.8;
  padding: 15px;
  padding-bottom: 5px;
}

.weather-forecast-temp {
  font-size: 14px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
#icon {
  margin-top: 15px;
  display: block;
  margin: 0 auto;
}
